.iypnb_checkpoints
*/.ipynb_checkpoints/*
data_sources/australia-latest.osm.pbf
*/__pycache__
*/__pycache__/*
token.txt
apikey.txt
data_sources/gsv
data_sources/test1
data_sources/test1_out
Tensorflow
jupyter/Tensorflow_disabled
batches/backup
detections
