iypnb_checkpoints
*/.ipynb_checkpoints/*
data_sources/australia-latest.osm.pbf
*/__pycache__
*/__pycache__/*
token.txt
apikey.txt
data_sources/gsv
data_sources/test1
data_sources/test1_out
Tensorflow
jupyter/Tensorflow_disabled
batches/backup
batches/*2021*csv
detections
jupyter/geckodriver.log
data_sources/dashcam_tour_frankston/detections*
data_sources/dashcam_tour_frankston/*.MP4
data_sources/dashcam_tour_frankston/*.NMEA
data_sources/dashcam_tour_frankston/split/*.png
data_sources/dashcam_tour_frankston/split/metadata*xlsx
data_sources/dashcam_tour_frankston/split/lanes/*.png
data_sources/dashcam_tour_frankston/split/lanes_filtered/*.png
data_sources/dashcam_tour_mount_eliza/detections*
data_sources/dashcam_tour_mount_eliza/*.MP4
data_sources/dashcam_tour_mount_eliza/*.NMEA
data_sources/dashcam_tour_mount_eliza/split/*.png
data_sources/dashcam_tour_mount_eliza/split/metadata*xlsx
data_sources/dashcam_tour_mount_eliza/split/lanes/*.png
data_sources/dashcam_tour_mount_eliza/split/lanes_filtered/*.png
*.toc
*.aux
*.log
.DS_Store
report/.DS_Store
report/*.log
data_sources/planet_victoria.osm
data_sources/pbn_intersections.csv
data_sources/pbn_exploded.geojson
data_sources/hits.csv
data_sources/osm_intersections.csv
