.iypnb_checkpoints
*/.ipynb_checkpoints/*
data_sources/australia-latest.osm.pbf
*/__pycache__
*/__pycache__/*
token.txt
apikey.txt
data_sources/gsv
data_sources/test1
data_sources/test1_out
Tensorflow
jupyter/Tensorflow_disabled
batches/backup
detections
jupyter/geckodriver.log
data_sources/dashcam_tour_frankston/detections*
data_sources/dashcam_tour_frankston/*.MP4
data_sources/dashcam_tour_frankston/*.NMEA
data_sources/dashcam_tour_frankston/split/*.png
data_sources/dashcam_tour_frankston/split/lanes/*.png
data_sources/dashcam_tour_mount_eliza/detections*
data_sources/dashcam_tour_mount_eliza/*.MP4
data_sources/dashcam_tour_mount_eliza/*.NMEA
data_sources/dashcam_tour_mount_eliza/split/*.png
data_sources/dashcam_tour_mount_eliza/split/lanes/*.png

